[submodule "zbot-unit-tests"]
	path = zbot-unit-tests
	url = https://github.com/kscalelabs/zbot-unit-tests.git
	branch = master
[submodule "kos-sim-cs234"]
	path = kos-sim-cs234
	url = https://github.com/budzianowski/kos-sim-cs234.git
	branch =  testing_deployment
